
	AddDefaultCharset UTF-8

	RewriteEngine On

		RewriteRule ^([a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9])$ ?i=$1
		RewriteRule ^([a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9])$ ?i=$1
		RewriteRule ^([a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9])$ ?i=$1

	ErrorDocument 404 /err/404.php

	<Files .htaccess>
		order allow,deny
		deny from all
	</Files>

	Options All -Indexes

	<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 weeks"

# Images
ExpiresByType image/gif "access plus 1 weeks"
ExpiresByType image/png "access plus 1 weeks"

# CSS
ExpiresByType text/css "access 1 weeks"

# Javascript
ExpiresByType application/javascript "access plus 1 weeks"

</IfModule>
